[Desktop Entry]
Name=Install multimedia codecs
Name[el]=Εγκατάσταση codecs πολυμέσων
Comment=Install codecs required for playing restricted formats
Comment[el]=Εγκατάσταση codecs που απαιτούνται για την αναπαραγωγή αρχείων κλειστών format
Exec=kdesu salix-codecs-installer
Icon=salix-codecs-installer
Terminal=false
Type=Application
Categories=Application;AudioVideo;
StartupNotify=true
Encoding=UTF-8
NoDisplay=false
OnlyShowIn=KDE
